<!DOCTYPE html>
<html>
<body>

<h2>Union Error</h2>

<form action="/data" method="post">
  <label for="aniChar">Character:</label><br>
  <input type="text" id="aniChar" name="aniChar"><br>
  <label for="aniImage">Image:</label><br>
  <input type="text" id="aniImage" name="aniImage"><br><br>
  <input type="submit" value="Submit">
</form> 

</body>
</html>

